/************************ TAG SELECTORS *************************/
/* Selector{ Property : value;}
Properties should be in Alphabetical Order */

body{
    background-color:#E1FFEE;
}
hr{
    background-color: #E1FFEE;
    /* border-style:  dotted none none; */
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    /* height: 2px; */
    width: 5%;
    /* % is used to be device friendly (x% of the screen 
    of the device)*/
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}

div{
    background-color: #E4F9F5;
    position: relative;

}

/* Pseudo class ( tag:pseudo_classname ) */
img:hover{
    background-color: gold;
}
/************************* CLASS SELECTORS ************************/
/* .classselector{ Property: value;} -> NOT UNIQUE  
(overides the tag selector as its more specific)
(HTML element can have more than one class) */

.football{
    background-color: red;
}

.circular{
    border-radius: 100%;
}

.pro{
    text-decoration: underline;
    display: inline-block;
    width: 100px;
  
}

/* Display Property:    block -> created block elments
                        inline block -> best of both worlds
                        none -> element does not exist*/
.me{
    display: none;
}

.r{
    visibility: hidden; 
    /* makes the element dissapear but keeps the
     original position as if its still there */
}

/* Positioning :    Static-> default

                    Relative-> moves the position of element relative 
                    to default position (static)

                    Absolute-> moves the position of the element 
                    relative to its parent element (or) absolute 
                    to the webpage

                    Fixed-> stays in that position for all time, 
                    used to display elements you want see all the 
                    time while scrolling through your webpage
                    */
.red{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: red;
}

.blue{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 100px;
    background-color: blue;
    
}

.yellow{
    height: 100px;
    width: 100px;    
    bottom: 100px;
    background-color: yellow;
}

.cloud{
    position: fixed;
    top: 0;
}

/************************* ID SELECTORS ************************/
/* #IDselector{ Property: value;} -> UNIQUE 
(overides the tag selector as its more specific)
HTML element can have only one ID */

#Edu{
    color: blue;
}